---
import ArrowUpRight from "@/assets/arrow-up-right.svg";
import BadgeList from "@/components/ui/BadgeList.astro";

interface Props {
  title: string;
  description: string;
  tags: string[];
  time: string;
  companyName: string;
  companyLink: string;
  position?: string;
  location?: string;
}

const {
  title,
  description,
  tags,
  time,
  companyName,
  companyLink,
  position,
  location,
} = Astro.props;
---

<li class="mb-12">
  <div
    class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50"
  >
    <div
      class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"
    >
    </div>
    <header
      class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-muted sm:col-span-2"
      aria-label={time}
    >
      {time}
    </header>
    <div class="z-10 sm:col-span-6">
      <h3 class="font-medium leading-tight font-serif text-lg">
        <div>
          <a
            href={companyLink}
            class="inline-flex items-baseline hover:text-accent focus-visible:text-accent group/link"
            target="_blank"
            rel="noreferrer noopener"
            aria-label={`${title} at ${companyName} (opens in a new tab)`}
          >
            <span
              class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"
            ></span>
            <span>
              {title}
              <span class="mx-1">·</span>
              <span class="inline-block">
                {companyName}
                <ArrowUpRight
                  class="inline-block size-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-0.5"
                />
              </span>
            </span>
          </a>
        </div>
      </h3>
      {
        position && (
          <p
            class="text-muted font-medium leading-snug text-[0.9rem]"
            aria-hidden="true"
          >
            {position}
          </p>
        )
      }
      {
        location && (
          <p
            class="text-muted font-medium leading-snug text-[0.9rem]"
            aria-hidden="true"
          >
            {location}
          </p>
        )
      }
      <p class="mt-2 text-sm leading-normal text-secondary">{description}</p>
      <BadgeList tags={tags} />
    </div>
  </div>
</li>
